
html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
}
a{
	text-decoration: none;
}

#cama
{
	background-image: url("../img/beseSencilla2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px;
}
#mesa{
	background-image: url("../img/mesapequena.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px;
}
#trastero
{
	background-image: url("../img/trasteroAzul.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px;
}

.btn-link
{
	background: #2E2E2E; 
	border-radius: 5px;
	color: white;
	display:inline-block;
	margin: 0;
	margin-top: 100px;
	text-decoration: none;
	padding: 10px;
	width: auto;
}

.btn-link:hover
{
	transition: 1s;
	background: #0B6121;
}

.contactos
{

	background: #2E2E2E;
	font-family: "Roboto Condensed";
	/*padding-bottom:  10px;*/
	/*width: 100%;*/
}
.cuerpo
{
	margin: 0 auto;
	padding-top: 100px;
	font-family: "Roboto";
	text-align: justify;
	padding-bottom: 100px;
	overflow: auto;

}

.contain
{
	min-height: 100%
}

.color-blanco
{
	color: #FFF;
}

.footer
{
	bottom: 0;
	overflow: hidden;
	position: relative;
	margin-top: -100px;
	clear: both;
}

h1
{

	font-family: 'Oswald', monospace;
	text-align: center;
}

.head
{

	background: #1C1C1C;
	font-family: "Roboto";
	width: 100%;
	line-height: 100px;
	margin: auto;
	overflow: hidden;
	

}

.imgLtl
{
	border-radius: 50%;
	width: 200px;
}
.line
{
	display: inline-table;
	float: left;
	padding-right: 50px;
}

.line-left
{
	overflow: hidden;
	display: inline-block;
	
}
.line-right
{
	overflow: hidden;
	display: inline;
	float: right;
}

.link
{
	color: #0040FF;
	text-decoration: none;
	margin: 20px 0;
}


.link:hover
{
	text-decoration: none;
}

.logo
{

	color: #FAFAFA;
	float: left;
	font-size: 30px;
	font-family: "Oswald";
	padding: 0 10px;
	margin-left: 100px;
	text-decoration: none;
	

}
.logo:hover
{
	background: #2E2E2E;
}

.logoImg
{
	float: left;
	margin: 35px 5px;
}

.login
{
	float: right;
	margin-right: 100px;
}

.menu-nav
{
	float: left;
	padding: 0 50px;


}

/*   Modal Styles */

.galeria
{
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li
{
	margin: 5px;
}

.galeria img
{
	width: 300px;
	height: 200px;
}

.modal
{
	display: none;
}

.modal:target
{
	display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal h3
{
	color: #fff;
	font-size: 30px;
	font-family: "Roboto";
	text-align: center;
	margin: 15px 0;
}

.imagen
{
	width: 100%;
	height: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen a
{
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;

}

.imagen a:nth-child(2) /* Selecciona la segundo hijo de las a de la clase imagen  */
{
	margin:0;
	height: 100%;
	flex-shrink: 2;

}

.imagen img 
{
	width: 600px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}

.close
{
	display: block;
	background: #fff;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-family: "Roboto";
	font-size: 25px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;
}




/* ================*/

.ka
{
	background-image: url("../img/MKFun.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	width: 100% ;
	overflow: hidden;
}

.item
{
	color: #FAFAFA;
	text-decoration: none;
	text-align: center;
	padding:  0 5px 0 5px;
}

.item:hover
{
	background: #2E2E2E;
	color: #088A08;
	padding: 50px 5px;
}

.rw
{
	background: red;
	display: block;
	height: 100px;
	width: 1000px;
	
}

.sect
{
	display: inline;
	float: left;
	/*background: ;*/
	
	padding: 5px;
	margin: 5px 0;
	margin-left: 9px;
	text-align: center;
	width: 200px;
	height: 200px;
}

.sect:hover
{
	transition: 1s;
	opacity: .9;
	border-radius: 5px;
}

.text
{
	text-align: justify;
}

.ttlBody img
{
	width: 50%;
	height: 25%;
}

.ttlHdr
{
	color: #FAFAFA;
	text-decoration: none;

}
.wrapper
{
	margin: auto;
	padding-top: 90px;
	width: 60%;


}

.wrapper2
{

	margin: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 60%;
}

@media screen and (max-width: 900px) {


	.head
	{

		line-height: 50px;
		margin: auto;
		width: 100%;
		
	}

	.imgLtl
	{
		width: 200px;
	}

	.item:hover
	{
		overflow: hidden;
		padding: 20px 5px;
	}

	.link
	{
		margin: 10px 0
	}

	.logo
	{
		display: block;
		margin: auto;
	}

	.logoImg
	{
		margin: 10px auto;
		padding: 0 .2em;
	}

	.login
	{
		
	}

	.menu-nav
	{

		margin: auto;
		text-align: center;
		padding: 5px 25px;
	}

	.sect
	{
		display: block;
		margin: 5px ;
		width: 300px;
	}

	.ttlHdr
	{
		
		font-size: 30px;
	}

	.wrapper
	{
		width: 80%;
	}
}